<% layout('layouts/boilerplate')%>
    <h1 style="margin-bottom: 40px;"><center>Make Bill</center></h1>
    <div class="col-8 offset-2" style="background-color: white; padding: 40px;margin-bottom:20px;">
        <h5><b>Customer Name: </b><%= customer.custName %></h5>
        <% if (customer.custMail != '') { %>
            <h5><b>Phone Number: </b><%= customer.custPhone %></h5>
            <h5 style="margin-bottom:30px;"><b>Email Id: </b><%= customer.custMail %></h5>
        <% } else { %>
            <h5 style="margin-bottom:30px;"><b>Phone Number: </b><%= customer.custPhone %></h5>
        <% } %> 
        <p style="color: red;">Please add some products to make the bill.</p>
        <a class="btn btn-outline-dark" style="border-radius: 12px;font-size: 15px;" href="/customers/bill/<%= customer._id %>/addItem">Add Product</a>
    </div>
